.App {
  background-color: #98a2b6;
  text-align: center;
  color: white;
  margin: auto;
  min-height: 100vh;
  font-size: calc(20px + 2vmin);
}

h2 {
  text-align: center;
  font-size: 52.2px;
  margin: auto;
  text-shadow: black 1px 1px;
}

h5 {
  margin: auto;
  display: inline-block;
  background-color: rgb(90, 99, 102);
  border-radius: 10px;
  padding: 0 .2em 0 .2em;
}

.Board {
  display: inline-block;
  background-color: rgb(90, 99, 102);
  padding: .25em .15em .1em .15em;
  border-radius: 10px;
}

.break {
  display: block;
  margin-bottom: 0.25em;
}

.Cell {
  margin-left: .1em;
  margin-right: .1em;
  background-color: lightgrey;
  display: inline-block;
  height: 1.5em;
  width: 1.5em;
  line-height: 1.5em;
  border-radius: 5px;
  cursor: pointer;
  vertical-align: top;
  color: #282c34;
  text-shadow: black 1px 1px;
  font-weight: bold;
  user-select: none;
  transform: background-color .5s ease-in-out;
}

.isClicked {
  background-color: darkgrey !important;
}

.Cell:hover {
  background-color: rgb(191, 191, 191);
  animation: rotate .1s ease-in-out;
  animation-fill-mode: both;
}

@keyframes rotate {
  0% {transform: rotate(0deg);}
  100% {transform: rotate(5deg);}
}

.helpButton {
  display: inline-block;
  background-color: lightgrey;
  border-radius: 100px;
  padding: 0px 12px 0px 12px;
  transition: background-color .5s ease-in-out;
  transition: padding .1s ease-in-out;
  margin-top: .1em;
}

.helpButton:hover {
  background-color: rgb(90, 99, 102);
  padding: 2px 13px 2px 13px;
}

.helpButton:active {
  background-color: grey;
  padding: 2px 13px 2px 13px;
}

@keyframes expand {
  from {transform: scaleX(1) scaleY(1); background-color: lightgrey;}
  to {transform: scaleX(1.1) scaleY(1.1); background-color: grey;}
}

.helpScreen {
  position: absolute;
  visibility: hidden;
  background-color: #98a2b6;
  opacity: 0%;
  transform-origin: center;
  font-size: x-large;
  color: white;
  left: 50%;
  top: 50%;
  width: 14.75em;
  margin-left: -7.5em;
  margin-top: -300px;
  height: 11em;
  border-radius: 5px;
  transition: opacity .5s ease-in;
}


.LoseScreen {
  position: absolute;
  visibility: hidden;
  background-color: #98a2b6;
  opacity: 0%;
  transform-origin: center;
  left: 50%;
  top: 50%;
  width: 7.5em;
  margin-left: -3.75em;
  margin-top: -8.5em;
  height: 8em;
  border-radius: 5px;
  transition: opacity .5s ease-in;
}

.WinScreen {
  position: absolute;
  visibility: hidden;
  background-color: #98a2b6;
  opacity: 0%;
  transform-origin: center;
  left: 50%;
  top: 50%;
  width: 7.5em;
  margin-left: -3.75em;
  margin-top: -8.5em;
  height: 8em;
  border-radius: 5px;
  transition: opacity .5s ease-in;
}

.visibility {
  visibility: visible;
  transition: opacity .5s ease-in;
  opacity: 92.5%;
}
