.App {
  background-color: #98a2b6;
  text-align: center;
  color: white;
  margin: auto;
  min-height: 100vh;
  font-size: calc(20px + 2vmin);
}

h2 {
  text-align: center;
  font-size: 52.2px;
  margin: auto;
}

.break {
  display: block;
  margin-bottom: 0.25em;
}

.Cell {
  margin-left: .1em;
  margin-right: .1em;
  background-color: lightgrey;
  display: inline-block;
  height: 1.5em;
  width: 1.5em;
  line-height: 1.5em;
  border-radius: 5px;
  cursor: pointer;
  vertical-align: top;
  color: #282c34;
  text-shadow: black 1px 1px;
  font-weight: bold;
}